@keyframes moveRightToLeft {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(-100%);
    }
}

.marquee {
    overflow: hidden;
}

.marquee p {
    white-space: nowrap;
    animation: moveRightToLeft 30s linear infinite;
}
